.form {
  margin: 0 auto;
  max-width: 40rem;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;

  button {
    border-radius: 0.25rem;
    padding: 0.5rem;
    min-width: 10rem;
  }
}
