.invalid {
  border-color: red;
}

.input {
  text-align: left;
  margin-block: 0.5rem;

  label {
    display: inline-block;
    margin-bottom: 0.25rem;
  }

  input {
    -webkit-appearance: none;
    width: 100%;
    box-sizing: border-box;
    height: 2rem;
    border-width: 1px;
    border-radius: 0.25rem;

    &:focus {
      outline: none;
      border-width: 2px;
    }
  }

  .errorTxt {
    color: red;
    font-size: 0.5rem;
    margin-top: 0;
    margin-bottom: 0.25rem;
  }
}
