@import '../../../styles/variables.scss';

$paddings: 0.5rem;

.trendContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  overflow-x: auto;
  margin-bottom: 1rem;
}

.column {
  width: calc(100% / 12);
  padding: $paddings;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 80px;

  @include m {
    height: 200px;
    min-width: none;
  }
}

.columnTrend {
  position: relative;
  border: solid 1px;
  flex-grow: 1;
  display: none;

  @include m {
    display: flex;
  }
}

.fill {
  position: absolute;
  inset: 0;
}

.expenseTrend {
  background-color: red;
  right: 50%;
}

.averageExpenses {
  border-top: solid 1px;
  right: 50%;
}

.incomesTrend {
  background-color: blue;
  left: 50%;
}

.averageIncomes {
  border-top: solid 1px;
  left: 50%;
}

.month {
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-top: 0.25rem;
}

.value {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
  margin-top: 0rem;
}

.expense {
  color: red;
}

.income {
  color: blue;
}
